<h1 class="text-3xl font-bold my-6">
  Todo List
</h1>
<hr class="mb-8 mt-0">
<div *ngFor="let item of todoList; let index = index" class="flex mb-2 items-center" [attr.key]="index">
  <div class="mr-2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
  </div>
  <div [ngClass]="editList[item.id].editable == true ? 'block' : 'hidden'">
    <mat-form-field class="example-full-width">
      <mat-label>Todo</mat-label>
      <input matInput [(ngModel)]="editList[item.id].editedText">
    </mat-form-field>
    <button class="ml-1" mat-stroked-button (click)="editTodo(item.id)">Ok</button>
    <button class="ml-1" mat-stroked-button (click)="cancelEdit(item.id)">Cancel</button>
  </div>
  <div [ngClass]="editList[item.id].editable == false ? 'block' : 'hidden'">
    {{ item.todo }}
    <button class="ml-1" mat-stroked-button (click)="openEdit(item.id)">Edit</button>
  </div>
  <div>
    <button class="ml-1" mat-stroked-button (click)="deleteTodo(item.id)">Delete</button>
    <mat-slide-toggle class="ml-1" [ngModel]="item.completed" (change)="changeStatus(item.id)">Done</mat-slide-toggle>
  </div>
</div>
